<div id="<%= dom_id shoppinglist %>">
  <p>
    <% if shoppinglist.mtype == 0 %>
      <h2> 添置清单 </h2>
    <% else %>
      <h2> 购买清单 </h2>
    <% end %>
  </p>

  <p>
    <strong>总计:</strong>
    <%= number_with_precision(shoppinglist.total, :precision => 2, :delimeter => ',') %> ￥
  </p>

</div>
