<h1>Editing shoppinglist</h1>

<%= render "form", shoppinglist: @shoppinglist %>

<br>

<div>
  <%= link_to "Show this shoppinglist", @shoppinglist %> |
  <%= link_to "Back to shoppinglists", shoppinglists_path %>
</div>
