
.shoppinglist-list {
  background-color: rgba(168, 161, 161, 0.3);
  padding: 10px;
  margin: 5px
}

.item-list {
  margin: 10px;
  
}

.item-add {
  margin:5px;
  padding: 10px;
  background-color: rgba(24, 206, 106, 0.651);
  display: flex;
}