<div class="placeholder-stripe"></div>

<div>
  <p>
    <span style="font-size: 30px; font-weight: border;">Welcome</span> to <br/>
     My Market Manage System!
  </p>
</div>

<div class="placeholder-stripe"></div>

<div style="text-align:right;">
  <img src="<%= asset_path('closure.jpg') %>" height="540" />
</div>