<h1>Editing item</h1>

<%= render "form", item: @shoppinglist_item %>

<br>

<div>
  <%= link_to "Show this item", @shoppinglist_item %> |
  <%= link_to "Back to items", shoppinglist_items_path %>
</div>
